USE [perpetuumsa]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecordResourceGathered]    Script Date: 28.05.2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- Register gathered resource quantity with optional PvP zone flag

CREATE OR ALTER PROCEDURE [dbo].[sp_RecordResourceGathered]
    @gathered_on   DATE,
    @resource_name VARCHAR(100),
    @quantity      BIGINT,
    @is_pvp        BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO resources_gathered_daily (gathered_on, resource_name, quantity, is_pvp)
    VALUES (@gathered_on, @resource_name, @quantity, @is_pvp);
END;
GO
