USE perpetuumsa;

GO

---- Add DiscordId to channels
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.channels ADD
	DiscordId VARCHAR(128) NULL
GO
ALTER TABLE dbo.channels SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

GO

---- Create Bug reports channel
DELETE FROM channels WHERE name = 'Bug reports'

INSERT INTO channels (name, password, topic, type, isForcedJoin, DiscordId) VALUES
('Bug reports', NULL, 'Bug reports channel - describe the bug experienced in the game right here', 1, NULL, NULL)

GO

---- Fill DiscordId for Help
UPDATE channels SET DiscordId = '361257957226446848' WHERE name = 'regchannel_help'
UPDATE channels SET DiscordId = '361257930688954378' WHERE name = 'General chat'
UPDATE channels SET DiscordId = '406330729912336387' WHERE name = 'Bug reports'

GO