USE perpetuumsa;

GO

---- Create statistics table for plasma

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.plasma_gathered
	(
	gathered_on date NOT NULL,
	plasma_type varchar(100) NOT NULL,
	quantity BIGINT NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.plasma_gathered SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

GO

---- Create statistics table for resources

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.resources_gathered
	(
	gathered_on date NOT NULL,
	resource_name varchar(100) NOT NULL,
	quantity BIGINT NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.resources_gathered SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

GO

---- Create table for auto prices

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.resource_market_prices
	(
	calculated_on date NOT NULL,
	resource_name varchar(100) NOT NULL,
	unit_price decimal(18, 2) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.resource_market_prices SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

GO

---- Create sp to register plasma statistics

CREATE PROCEDURE sp_RecordPlasmaGathered
    @gathered_on DATE,
    @plasma_type VARCHAR(50),
    @quantity BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    MERGE plasma_gathered AS target
    USING (SELECT @gathered_on AS gathered_on, @plasma_type AS plasma_type) AS source
    ON target.gathered_on = source.gathered_on AND target.plasma_type = source.plasma_type
    WHEN MATCHED THEN
        UPDATE SET quantity = quantity + @quantity
    WHEN NOT MATCHED THEN
        INSERT (gathered_on, plasma_type, quantity)
        VALUES (@gathered_on, @plasma_type, @quantity);
END;

GO

---- Create sp to register resources statistics

CREATE PROCEDURE sp_RecordResourceGathered
    @gathered_on DATE,
    @resource_name VARCHAR(100),
    @quantity BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    MERGE resources_gathered AS target
    USING (SELECT @gathered_on AS gathered_on, @resource_name AS resource_name) AS source
    ON target.gathered_on = source.gathered_on AND target.resource_name = source.resource_name
    WHEN MATCHED THEN
        UPDATE SET quantity = quantity + @quantity
    WHEN NOT MATCHED THEN
        INSERT (gathered_on, resource_name, quantity)
        VALUES (@gathered_on, @resource_name, @quantity);
END;

GO

---- Create sp to recalculate resource prices

CREATE OR ALTER PROCEDURE recalculate_raw_material_prices
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @today DATE = CAST(GETDATE() AS DATE);
    DECLARE @week_start DATE = DATEADD(DAY, -DATEPART(WEEKDAY, @today) + 2, @today); -- Monday
    DECLARE @startDate DATE = DATEADD(DAY, -7, @today);

    -- Total NIC value from plasma gathered
    DECLARE @total_plasma_nic DECIMAL(18,2);
    SELECT @total_plasma_nic = 
        ISNULL(SUM(CASE 
            WHEN plasma_type COLLATE DATABASE_DEFAULT = 'def_common_reactor_plasma' THEN quantity * 242
            WHEN plasma_type COLLATE DATABASE_DEFAULT IN (
                'def_pelistal_reactor_plasma',
                'def_thelodica_reactor_plasma',
                'def_nuimqol_reactor_plasma'
            ) THEN quantity * 330
            ELSE 0 END), 0)
    FROM plasma_gathered
    WHERE gathered_on >= @startDate;

    -- Total resources gathered
    DECLARE @total_resources BIGINT;
    SELECT @total_resources = SUM(quantity)
    FROM resources_gathered
    WHERE gathered_on >= @startDate;

    -- Step 1: Compute new prices
    IF OBJECT_ID('tempdb..#new_prices') IS NOT NULL DROP TABLE #new_prices;
    CREATE TABLE #new_prices (
        resource_name VARCHAR(100) COLLATE DATABASE_DEFAULT PRIMARY KEY,
        new_price_nic DECIMAL(18,2)
    );

    INSERT INTO #new_prices(resource_name, new_price_nic)
    SELECT 
        rg.resource_name COLLATE DATABASE_DEFAULT,
        ROUND(
            CASE 
                WHEN @total_resources = 0 THEN 0
                ELSE (@total_plasma_nic * 1.0 * SUM(rg.quantity) / @total_resources)
            END, 2
        )
    FROM resources_gathered rg
    WHERE gathered_on >= @startDate
    GROUP BY rg.resource_name;

    -- Step 2: Get fallback base prices
    IF OBJECT_ID('tempdb..#fallback_prices') IS NOT NULL DROP TABLE #fallback_prices;
    CREATE TABLE #fallback_prices (
        resource_name VARCHAR(100) COLLATE DATABASE_DEFAULT PRIMARY KEY,
        unit_price DECIMAL(18,2)
    );

    INSERT INTO #fallback_prices(resource_name, unit_price)
    SELECT 
        rmp.material_name COLLATE DATABASE_DEFAULT,
        rmp.price_nic
    FROM raw_material_prices rmp
    WHERE NOT EXISTS (
        SELECT 1 FROM #new_prices np
        WHERE np.resource_name COLLATE DATABASE_DEFAULT = rmp.material_name COLLATE DATABASE_DEFAULT
    );

    -- Step 3: Combine new and fallback prices
    IF OBJECT_ID('tempdb..#merged_prices') IS NOT NULL DROP TABLE #merged_prices;
    CREATE TABLE #merged_prices (
        resource_name VARCHAR(100) COLLATE DATABASE_DEFAULT PRIMARY KEY,
        unit_price DECIMAL(18,2)
    );

    INSERT INTO #merged_prices(resource_name, unit_price)
    SELECT resource_name, new_price_nic FROM #new_prices
    UNION ALL
    SELECT resource_name, unit_price FROM #fallback_prices;

    -- Step 4: Clamp against raw_material_prices base values
    IF OBJECT_ID('tempdb..#clamped_prices') IS NOT NULL DROP TABLE #clamped_prices;
    CREATE TABLE #clamped_prices (
        resource_name VARCHAR(100) COLLATE DATABASE_DEFAULT PRIMARY KEY,
        unit_price DECIMAL(18,2)
    );

    INSERT INTO #clamped_prices(resource_name, unit_price)
    SELECT 
        mp.resource_name,
        CASE 
            WHEN mp.unit_price > rmp.price_nic * 2 THEN rmp.price_nic * 2
            WHEN mp.unit_price < rmp.price_nic * 0.5 THEN rmp.price_nic * 0.5
            ELSE mp.unit_price
        END
    FROM #merged_prices mp
    JOIN raw_material_prices rmp
        ON mp.resource_name COLLATE DATABASE_DEFAULT = rmp.material_name COLLATE DATABASE_DEFAULT;

    -- Step 5: Upsert to resource_market_prices
    MERGE INTO dbo.resource_market_prices AS target
    USING (
        SELECT resource_name, unit_price FROM #clamped_prices
    ) AS source
    ON target.calculated_on = @week_start
       AND target.resource_name COLLATE DATABASE_DEFAULT = source.resource_name COLLATE DATABASE_DEFAULT
    WHEN MATCHED THEN
        UPDATE SET unit_price = source.unit_price
    WHEN NOT MATCHED THEN
        INSERT (calculated_on, resource_name, unit_price)
        VALUES (@week_start, source.resource_name, source.unit_price);

    -- Step 6: Optional cleanup of old stats
    DELETE FROM plasma_gathered WHERE gathered_on < DATEADD(DAY, -90, @today);
    DELETE FROM resources_gathered WHERE gathered_on < DATEADD(DAY, -90, @today);
END;
GO

---- Alter calculation core to give more space for crafters by taking prototyping into account

---- Create view that shows production cost assuming 50% efficiency of all the facilities

CREATE OR ALTER VIEW v_all_production_costs AS
WITH all_items AS (
    SELECT product AS item FROM production_data
    UNION
    SELECT components AS item FROM production_data
),
recursive_materials AS (
    SELECT 
        base.item,
        pd.components AS raw_material,
        CAST(pd.amount * 2.1 AS FLOAT) AS quantity
    FROM all_items base
    JOIN production_data pd ON pd.product = base.item

    UNION ALL

    SELECT
        rm.item,
        pd.components AS raw_material,
        rm.quantity * pd.amount * 2.1 AS quantity
    FROM recursive_materials rm
    JOIN production_data pd ON rm.raw_material = pd.product
),
aggregated_costs AS (
    SELECT
        rm.item AS product,
        rm.raw_material,
        SUM(rm.quantity) AS total_quantity
    FROM recursive_materials rm
    GROUP BY rm.item, rm.raw_material
),
computed_costs AS (
    SELECT
        ac.product,
        SUM(
            ac.total_quantity * 
            COALESCE(
                rmp.unit_price,               -- preferred: current market price
                base.price_nic,               -- fallback: base price
                0
            )
        ) AS production_cost_nic
    FROM aggregated_costs ac
    LEFT JOIN (
        SELECT resource_name, unit_price
        FROM resource_market_prices
        WHERE calculated_on = (
            SELECT MAX(calculated_on) FROM resource_market_prices
        )
    ) rmp ON ac.raw_material COLLATE DATABASE_DEFAULT = rmp.resource_name COLLATE DATABASE_DEFAULT
    LEFT JOIN raw_material_prices base ON ac.raw_material COLLATE DATABASE_DEFAULT = base.material_name COLLATE DATABASE_DEFAULT
    GROUP BY ac.product
),
raw_resources AS (
    SELECT 
        rmp.material_name AS product,
        COALESCE(
            m.unit_price,
            rmp.price_nic
        ) AS production_cost_nic
    FROM raw_material_prices rmp
    LEFT JOIN (
        SELECT resource_name, unit_price
        FROM resource_market_prices
        WHERE calculated_on = (SELECT MAX(calculated_on) FROM resource_market_prices)
    ) m ON rmp.material_name COLLATE DATABASE_DEFAULT = m.resource_name COLLATE DATABASE_DEFAULT
    WHERE NOT EXISTS (
        SELECT 1 FROM production_data WHERE product = rmp.material_name
    )
),
final_costs AS (
    SELECT * FROM computed_costs
    UNION
    SELECT * FROM raw_resources
)
SELECT 
    product,
    ROUND(production_cost_nic, 2) AS production_cost_nic
FROM final_costs;

GO

-- Drop existing view if it exists
IF OBJECT_ID('dbo.v_required_raw_materials', 'V') IS NOT NULL
    DROP VIEW dbo.v_required_raw_materials;
GO

-- Create the view
CREATE VIEW dbo.v_required_raw_materials AS
WITH RecursiveBreakdown AS (
    -- Base case: direct components
    SELECT 
        moc.definitionname AS product,
        pd.components AS component,
        pd.amount * CAST(ROUND(moc.amount * 2.1, 0) AS INT) AS total_amount  -- 50% efficiency adjustment
    FROM dbo.market_orders_configuration moc
    JOIN dbo.production_data pd ON moc.definitionname = pd.product

    UNION ALL

    -- Recursive case: break down intermediate components
    SELECT 
        rb.product,
        pd.components AS component,
        rb.total_amount * CAST(ROUND(pd.amount * 2.1, 0) AS INT) AS total_amount
    FROM RecursiveBreakdown rb
    JOIN dbo.production_data pd ON rb.component = pd.product
)

-- Final aggregation: only raw materials (not further craftable)
SELECT 
    rb.component AS raw_material,
    SUM(rb.total_amount) AS total_quantity
FROM RecursiveBreakdown rb
LEFT JOIN dbo.production_data pd ON rb.component = pd.product
WHERE pd.product IS NULL
GROUP BY rb.component;

GO

---- Use both based and calculated values

CREATE OR ALTER VIEW v_all_production_costs AS
WITH all_items AS (
    SELECT product AS item FROM production_data
    UNION
    SELECT components AS item FROM production_data
),
recursive_materials AS (
    SELECT 
        base.item,
        pd.components AS raw_material,
        CAST(pd.amount * 2.1 AS FLOAT) AS quantity
    FROM all_items base
    JOIN production_data pd ON pd.product = base.item

    UNION ALL

    SELECT
        rm.item,
        pd.components AS raw_material,
        rm.quantity * pd.amount * 2.1 AS quantity
    FROM recursive_materials rm
    JOIN production_data pd ON rm.raw_material = pd.product
),
aggregated_costs AS (
    SELECT
        rm.item AS product,
        rm.raw_material,
        SUM(rm.quantity) AS total_quantity
    FROM recursive_materials rm
    GROUP BY rm.item, rm.raw_material
),
latest_market_prices AS (
    SELECT rmp.resource_name, rmp.unit_price
    FROM resource_market_prices rmp
    WHERE rmp.calculated_on = (SELECT MAX(calculated_on) FROM resource_market_prices)
),
computed_costs AS (
    SELECT
        ac.product,
        SUM(
            ac.total_quantity * 
            ISNULL(mp.unit_price, base.price_nic)
        ) AS production_cost_nic
    FROM aggregated_costs ac
    LEFT JOIN latest_market_prices mp 
        ON ac.raw_material COLLATE DATABASE_DEFAULT = mp.resource_name COLLATE DATABASE_DEFAULT
    LEFT JOIN raw_material_prices base 
        ON ac.raw_material COLLATE DATABASE_DEFAULT = base.material_name COLLATE DATABASE_DEFAULT
    GROUP BY ac.product
),
raw_resources AS (
    SELECT 
        rmp.material_name AS product,
        ISNULL(mp.unit_price, rmp.price_nic) AS production_cost_nic
    FROM raw_material_prices rmp
    LEFT JOIN latest_market_prices mp 
        ON rmp.material_name COLLATE DATABASE_DEFAULT = mp.resource_name COLLATE DATABASE_DEFAULT
    WHERE NOT EXISTS (
        SELECT 1 FROM production_data pd WHERE pd.product = rmp.material_name
    )
),
final_costs AS (
    SELECT * FROM computed_costs
    UNION
    SELECT * FROM raw_resources
)
SELECT 
    product,
    ROUND(production_cost_nic, 2) AS production_cost_nic
FROM final_costs;

GO